@font-face {
  font-family: "iconfont"; /* Project id 3944182 */
  src: url('iconfont.woff2?t=1678429356992') format('woff2'),
       url('iconfont.woff?t=1678429356992') format('woff'),
       url('iconfont.ttf?t=1678429356992') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cai:before {
  content: "\e68f";
}

.icon-cai1:before {
  content: "\e690";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianzan1:before {
  content: "\e8c3";
}

